<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
  <body>
    <% include ../partials/nav.ejs %>
    <div class="container">
      <div class="starter-template">
        <h1>Meetings Overview</h1>
        <p class="lead">click on a meeting to join the conversation</p>
      </div>
      <form id="userNameForm">
        <div class="form-group">
          <label for="meetingName">Your User Name</label>
          <input type="Text" class="form-control" id="userName" name="userName" placeholder="Enter User Name" required>
          <small class="form-text text-muted">This name will be displayed in a meeting </small>
        </div>
      </form>

      <h3>
      Channels
      </h3>  
      <div class="list-group">
          
          <% meetings.forEach(function(r) { %>
              <% let icon = "fa fa-headphones fa-fw" %>
              <% if(!r.audio_only){icon = "fa fa-video-camera fa-fw"} %>
              <!--<a href="/meetings/<%= r.session_id %>?meetingName=<%= r.name %>" class="list-group-item"><%= r.name %></a>-->
              <a class="list-group-item" onclick="joinMeeting('<%= r.session_id %>', '<%= r.session_name %>', '<%= r.audio_only %>')"><i class='<%= icon %>' aria-hidden='true' style="margin-right: 3px;"></i><%= r.session_name %> </a>
          <% }); %>
      </div>
      <script>
       // react to click on meeting
      function joinMeeting(sessionId, sessionName, audioOnly){
        let userName = $("#userName").val();
        if(userName.length > 0){
            // go to meeting
            window.location.href = "/meetings/"+sessionId+"?meetingName="+sessionName+"&userName="+userName+"&audioOnly="+audioOnly;
        }else{
          alert("Please enter a username");
        }
      }
      </script>
    </div><!-- /.container -->
    <% include ../partials/footer.ejs %>
    </body>
</html>
